* {
    border-radius: 0 !important;
}

textarea {

    resize: none;
}

.card {
    border: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 12%);
    border-radius: 0.5rem !important;
}

button {
    cursor: pointer;
}

.ModeBtn {
    cursor: pointer;
}

.form-switch input {
    cursor: pointer;
}

.alertbox {
    height: 50px;
}